DB_REGION_NAME=us-west-2
DB_ACCESS_KEY_ID=nay
DB_SECRET_ACCESS_KEY=nay
PLANET_API_KEY=PLAKcc6a392a192d41de8ed39504826419ec
MAXAR_API_KEY=d56487b0-b430-4342-9244-d24c2e2d289b

# For local development use: http://localhost:9000 (in line with the docker-compose)
DB_ENDPOINT_URL=http://localhost:8000

IMAGERY_TEMP_DIR=/Users/lb/Downloads/vulcan/temp
IMAGERY_OUTPUT_DIR=/Users/lb/Downloads/vulcan/output
